* {
    box-sizing: border-box;
  }
  

body{
    background-color: #E8D3B4;
    /* width: 960px; */
    text-align: center;
    padding-top: 30px;
   
}
.jumbotron{
    /* width:960px; */
    background-color:#B0CFC1;
    /* margin-left: 25%; */
}

#search-Area{
    text-align: center;
    /* margin-left: 40%; */
}
.lead{margin-left:10%;}
.images{
padding: 5px;
border-color: azure;
margin:0 auto;
margin-left:1%;
margin-bottom: 3px;
}
 #search-input {
    margin: 0 auto;      
}
#search-form{ 
    /* margin-left:40%; */
}
p {text-align:center;}
#submit{
    margin:15px;
    /* margin-left: 25%; */
}
#add-animals{
   /*  margin: auto;
    width:960px; */
}


.gif{
   float: left;
    width:  200x;
    height: 200px;
    margin: 0 auto;
    padding: 10px;
    /* margin-bottom: 80px; */
    /* margin-left: 15%; */
}
p{
    float: left;
  
}
